#mobileGnb {
	width: 320px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #111;
	z-index: 5;
	padding: 50px;

	h1 {
		margin-bottom: 50px;
	}
	ul li a {
		display: block;
		height: 50px;
		font: 16px/50px 'arial';
		color: #bbb;
	}
}
