* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #efefef;
	width: 100%;
	overflow-x: hidden;
}

table,
th,
td {
	border-collapse: collapse;
}

fieldset {
	border: none;
}

.h {
	position: absolute;
	top: -99999px;
	left: 0;
}
